* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.home-page,
body.architecture-page {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.home-page {
    overflow: hidden;
}

body.architecture-page {
    overflow: auto;
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#name {
    font-size: 180%;
    color: black;
    cursor: pointer;
}

/* .section {
    position: relative;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.5s;
} */

.hero {
    background-image: url('../images/house-gl_interior.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1071px;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}

/* Hide checkbox square */

#menu-checkbox,
#menu-checkbox-architecture {
    display: none;
}

/* Hide menu content by default */

#menu {
    position: fixed;
    top: 60px;
    left: 20px;
    z-index: 2;
    opacity: 0;
}

/* Show hidden menu when the checkbox is checked */

#menu-checkbox:checked~.hero {
    opacity: 0;
    background-color: white;
}

#menu-checkbox:checked~#menu {
    opacity: 1;
}

#menu ul {
    list-style-type: none;
}

#menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* Styling architecture.html */

a[id="name"] {
    text-decoration: none;
}

#menu-checkbox-architecture:checked~#menu {
    opacity: 1;
}

#projects {
    overflow-y: scroll;
    height: 100%;
}

section#projects {
    padding-right: 100px;
}

.container-architecture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-left: 150px;
    /* Initially hide the container */
    opacity: 0;
    /* Apply fade-in animation */
    animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box {
    width: 400px;
    height: 400px;
    background-color: #f2f2f2;
    margin: 40px;
    opacity: 1;
    transition: opacity 1s;
    position: relative;
}

.box:hover {
    opacity: 0.5;
}

img {
    width: 100%;
    height: 100%;
}

.image-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}


/* Styling info.html */

.container-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
    width: 100%;
    /* Initially hide the container */
    opacity: 0;
    /* Apply fade-in animation */
    animation: fade-in 1s ease-out forwards;
}

.personal-image {
    flex: 1;
    max-width: 400px;
    min-width: 400px;
    margin: 40px;
}

.info-text {
    flex: 1;
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
}