@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
}

/* Styling home page */

/* body.home-page,
body.architecture-page {
    margin: 0;
    padding: 0;
    height: 100%;
} */

body.home-page {
    overflow: hidden;
}

body.architecture-page {
    overflow: auto;
}

label[id="name-home"],
label[id="name"] {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 20px;
    z-index: 2;
    width: 100%;
    height: auto;
    background-color: transparent;
}

#name-home,
#name {
    font-size: 180%;
    color: black;
    cursor: pointer;
}

/* .main {
    position: relative;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.5s;
} */

.hero {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s;
}

/* Hide checkbox square */

#menu-checkbox-home,
#menu-checkbox {
    display: none;
}

/* Hide menu content by default */

#menu-home,
#menu {
    position: fixed;
    top: 60px;
    left: 0;
    padding-left: 20px;
    z-index: 2;
    visibility: hidden;
    background-color: transparent;
    width: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

/* Show hidden menu when the checkbox is checked */

#menu-checkbox-home:checked~.hero,
#menu-checkbox:checked~.hero {
    opacity: 0;
    background-color: white;
}

#menu-checkbox-home:checked~#menu-home,
#menu-checkbox:checked~#menu {
    opacity: 1;
    visibility: visible;
}


ul {
    list-style-type: none;
}

li a {
    color: black;
    font-size: 120%;
    line-height: 25px;
    opacity: 1;
    transition: opacity 0.3s;
}

li a:hover {
    opacity: 0.4;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

/* Styling architecture.html */

/* #menu-checkbox-architecture:checked~#menu {
    opacity: 1;
} */

#projects {
    height: 100%;
}

.container-architecture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
    padding-left: 230px;
    /* Initially hide the container */
    opacity: 0;
    /* Apply fade-in animation */
    animation: fade-in 1s ease-out forwards;
}

.container-architecture img {
    object-fit: cover;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #f2f2f2;
    margin: 0px 60px 60px 0;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.image-name {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.6);
    transition: opacity 1s;
}

.image-name:hover {
    opacity: 1;
}

.image-name p {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}



/* Styling info.html */

.container-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 90px;
    width: 100%;
    /* Initially hide the container */
    opacity: 0;
    /* Apply fade-in animation */
    animation: fade-in 1s ease-out forwards;
}

#personal-image {
    width: 400px;
    height: auto;
}

#info-text {
    margin-top: 0;
    width: 600px;
}

#text-description {
    text-align: justify;
}

#text-cv {
    text-align: left;
}

/* Styling single projects htmls */

.p-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.gallery img {
    width: 500px;
    height: auto;
    margin: 20px 0 40px 0;
}

/* .gallery img:first-of-type {
    width: auto;
    height: 500px;
    margin-top: 40px;
} */

.description {
    position: fixed;
    top: 70px;
    right: 30px;
    background-color: white;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 500px;
    line-height: 25px;
    text-align: justify;
    margin: 0 20px
}

.small-text {
    font-size: 80%;
}

.color-text {
    color: #545454;
}

.team-text {
    text-align: left;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
    text-decoration-color: #545454;
}

a[id="back-button"] {
    color: #545454;
    opacity: 1;
    transition: opacity 0.3s;
}

a[id="back-button"]:hover {
    opacity: 0.4;
}

/* Styling contact.html */

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background-color: #f2f2f2;
    max-width: 400px;
    padding: 20px;
}

.contact-form label {
    text-transform: uppercase;
    font-weight: 600;
}

.contact-form h2 {
    margin-bottom: 50px;
    color: #545454;
    text-align: center;
    text-transform: uppercase;
}

.text-input {
    background: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid;
    font-family: Raleway, sans-serif;
    font-size: 100%;
    padding: 4px;
    /* border-radius: 2px; */
}

.message-input {
    resize: none;
    background: white;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 1px solid;
    font-family: Raleway, sans-serif;
    font-size: 100%;
    padding: 4px;
    justify-content: flex-start;
    /* border-radius: 2px; */
}

.send-button {
    margin-top: 20px;
    /* border-radius: 2px; */
    height: 27px;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    background-color: #545454;
    border: 1px solid #545454;
    color: white;
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
}

.send-button:hover {
    opacity: 0.4;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 400px;
    line-height: 25px;
    padding: 20px 20px 0 20px;
}

.social a {
    opacity: 1;
    transition: opacity 0.3s;
    color: #545454;
    text-transform: uppercase;
    font-size: 200%
}

.social a:hover {
    opacity: 0.4;
}

/* Styling response to submitting form  page: response.html */

.response-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    line-height: 50px;
}

.response-text a {
    text-transform: uppercase;
    font-weight: 600;
}

/* Keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* media queries for architecture.html */

@media screen and (max-width: 920px) {

    .container-architecture {
        padding-left: 40px;
        margin-top: 140px;
    }

}

@media screen and (max-width: 550px) {

    .container-architecture {
        margin-top: 140px;
        padding-left: 0px;
    }

    .box {
        width: 100%;
        height: auto;
        margin: 40px 20px;
    }

}

/* media queries for info.html */

@media screen and (max-width: 1500px) {

    .container-info {
        flex-direction: column;
        align-items: center;
    }

    #personal-image,
    #info-text {
        width: 400px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {

    .container-info {
        margin-top: 90px;
    }
}

@media screen and (max-width: 550px) {

    .container-info {
        margin-top: 180px;
        padding: 0 40px;
    }

    #personal-image,
    #info-text {
        width: 100%;
        height: auto;
    }

}

/* media queries for individual project pages */

@media screen and (max-width: 1700px) {
    .p-container {
        flex-direction: column-reverse;
    }

    .gallery {
        margin: 0 20px 20px;
    }

    .description {
        position: static;
        margin-top: 50px;
    }
}

@media screen and (max-width: 920px) {

    label[id="name"] {
        background-color: white;
        height: 60px;
    }

    #menu {
        background-color: white;
        padding: 0 10px 10px 20px;
    }

    .p-container {
        flex-direction: column-reverse;
    }

    .gallery {
        margin: 0 20px 20px;
    }

    .description {
        position: static;
        margin-top: 140px;
    }

    .gallery img {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 40px;
    }
}