* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

body.home-page,
body.architecture-page {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.home-page {
    overflow: hidden;
}

body.architecture-page {
    overflow: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 20px;
    z-index: 2;
    width: 100%;
    height: auto;
    background-color: transparent;
}

#name {
    font-size: 180%;
    color: black;
    cursor: pointer;
}

/* .section {
    position: relative;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.5s;
} */

.hero {
    background-image: url('../images/house-gl_interior.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1071px;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}

/* Hide checkbox square */

#menu-checkbox,
#menu-checkbox-architecture {
    display: none;
}

/* Hide menu content by default */

#menu {
    position: fixed;
    top: 60px;
    left: 0;
    padding-left: 20px;
    z-index: 2;
    opacity: 0;
    background-color: transparent;
    width: 100%;
}

/* Show hidden menu when the checkbox is checked */

#menu-checkbox:checked~.hero {
    opacity: 0;
    background-color: white;
}

#menu-checkbox:checked~#menu {
    opacity: 1;
}


#menu ul {
    list-style-type: none;
}

#menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* Styling architecture.html */

a[id="name"] {
    text-decoration: none;
}

#menu-checkbox-architecture:checked~#menu {
    opacity: 1;
}

#projects {
    overflow-y: scroll;
    height: 100%;
}

section#projects {
    padding-right: 100px;
}

.container-architecture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-left: 150px;
    /* Initially hide the container */
    opacity: 0;
    /* Apply fade-in animation */
    animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box {
    width: 400px;
    height: 400px;
    background-color: #f2f2f2;
    margin: 40px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.image-name {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.6);
    transition: opacity 1s;
}

.image-name:hover {
    opacity: 1
}


/* Styling info.html */

.container-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 150px;
    width: 100%;
    /* Initially hide the container */
    opacity: 0;
    /* Apply fade-in animation */
    animation: fade-in 1s ease-out forwards;
}

.personal-image {
    max-width: 400px;
    min-width: 400px;
    margin: 40px;
}

.info-text {
    width: 100%;
    max-width: 400px;
    margin-top: 40px;
}

/* Styling P2 p-entrance-hall.html */

.p-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.gallery img {
    width: 500px;
    height: auto;
    margin-top: 40px;
}

.gallery img:first-of-type {
    width: auto;
    height: 500px;
    margin-top: 40px;
}

.description {
    position: fixed;
    top: 90px;
    right: 30px;
    background-color: white;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 400px;
    line-height: 25px;
    text-align: justify;
    margin: 0 20px
}

.small-color-text {
    color: #383838;
    font-size: 80%;
}

@media screen and (max-width: 1450px) {
    .p-container {
        flex-direction: column-reverse;
    }

    .gallery {
        margin: 0 20px 20px;
    }

    .description {
        position: static;
        margin-top: 50px;
    }
}

@media screen and (max-width: 550px) {

    header {
        background-color: white;
        height: 60px;
    }

    #menu {
        background-color: white;
    }

    .p-container {
        flex-direction: column-reverse;
    }

    .gallery {
        margin: 0 20px 20px;
    }

    .description {
        position: static;
        margin-top: 120px;
    }

    .gallery img {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
}